<div class="loginPage">
    <div class="login">
        <h1>Welcome back, Weaver</h1>
        <form [formGroup]="loginForm" (submit)="submitLogin()">
            <label for="username">Username</label>
            <input id="username" type="text" formControlName="username" placeholder="Enter username" />

            <label for="password">Password</label>
            <input id="password" type="password" formControlName="password" placeholder="Enter password"/>

            <button type="submit">Login</button>
        </form>
    </div>
</div>