<menu class="base">
    <li class="menuItem">
        <a class="menuButton" [routerLink]="['web']">
            Web
        </a>
    </li>
    <li class="menuItem">
        <a class="menuButton" [routerLink]="['create']">
            Create
        </a>
    </li>
    <li class="menuItem">
        <a class="menuButton" [routerLink]="['vote']">
            Vote
        </a>
    </li>
        <li class="menuItem">
        <a class="menuButton" [routerLink]="['archive']">
            Archive
        </a>
    </li>
</menu>