<div class="base">
    <form [formGroup]="filterForm" class="filters" (ngSubmit)="search()">
        <h2>Filters</h2>
        <div class="formGroup">
            <label for="name">Name</label>
            <input id="name" type="text" placeholder="Name" formControlName="name"/>
        </div>
        <div class="formGroup">
            <label for="author">Author</label>
            <input id="author" type="text" placeholder="Weaver" formControlName="author"/>
        </div>
        <div class="formGroup">
            <label for="category">Category</label>
            <select id="category" name="category" formControlName="category">
                <option value="none" selected>None</option>
                <option value="story">Story</option>
                <option value="concept">Concept</option>
                <option value="location">Location</option>
                <option value="character">Character</option>
            </select>
        </div>
        <button type="submit">Apply Filters</button>
    </form>
    <div class="archive">
    @if (!isLoading) {
        <div class="archiveHeader">
            <div class="name">Name</div>
            <div class="category">Category</div>
            <div class="author">Author</div>
            <div class="createdAt">Date</div>
            <div class="rating">Rating</div>
        </div>

        <div class="archiveList">
            @for (creation of creations; track creation.id) {
                <app-creation-link [creation]="creation" />
            }
        </div>
    } @else {
        <div class="loadingState">
            <h1>LOADING...</h1>
        </div>
    }
    </div>
</div>
