<div class="base">
    @if (creations.length > 0) {
        <div class="archiveHeader">
            <div class="name">Name</div>
            <div class="category">Category</div>
            <div class="author">Author</div>
            <div class="createdAt">Date</div>
            <div class="rating">Rating</div>
        </div>

        <div class="archiveList">
            @for (creation of creations; track creation.id) {
                <app-creation-link [creation]="creation" />
            }
        </div>
    } @else {
        <div class="loadingState">
            <h1>LOADING...</h1>
        </div>
    }
</div>
