<div class="base">
    <h1>What are we making today?</h1>
    
    <form [formGroup]="creationForm" class="creationForm" (ngSubmit)="submitCreation()">
        <div class="formElement">
            <label for="category">I want to make a new:</label>
            <select id="category" name="category" formControlName="category">
                <option value="" selected disabled hidden>Select a category</option>
                <option value="story">Story</option>
                <option value="concept">Concept</option>
                <option value="location">Location</option>
                <option value="character">Character</option>
            </select>
        </div>

        <p class="note">
            (Note: Stories do not generate a tag to be referenced in other creations. 
            The category CANNOT be changed afterwards.)
        </p>

        @if(this.creationForm.value.category !== "") {
            <div class="formElement contentDiv">
                <h2>Let the magic begin...</h2>
                <input class="title" name="title" placeholder="Name" formControlName="name" />
                <textarea name="content" formControlName="content" placeholder="Content"></textarea>
            </div>

            <button type="submit" [disabled]="!creationForm.valid">
                Submit Creation
            </button>
        }
    </form>
</div>